.container {
  margin: 50px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;

  display: block;
}
th {
  text-align: left;
}

form label, form input {
  display: block;
  text-align: center
  margin: auto;
}

navbar a:hover, navbar a, navbar a:focus {
  text-decoration: none !important;
}
navbar {
  display: block;
  margin: auto;
  width: 65%;
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
}

#dbc {
  color: #2E2E2E;
  font-size: 20px;
}

#overflow {
  color: #FF8800;
  font-size: 25px;
}



#question {
  font-size: 20px;
  padding-right: 10px;
  color: #212121 !important;
}

#question a:hover {
  text-decoration: none !important;
}

.votes-home {
  display: inline;
}

.votes-home-text {
  font-size: 9px;
  display: inline-block;
}

.answers-home {
  display: inline;
}

.answers-home-text {
  font-size: 9px;
  display: inline-block;
}


.form-group, .col-form-label {
  display: inline-block;
}

#username-login, #password-login {
  width: 200px;
}

.questions-home {
    height: 40px;
    font-size: 15px;
}

.questions-title {
  font-size: 18px;
}

.questions-title a {
  text-decoration: none;
  color: #0d47a1 !important;
}
.questions-title a:hover {
  text-decoration: none;
  font-size: 22px;
  line-height: 15px;
}

.post-date-home {
  font-size: 9px;
  font-weight: bold;
}

* {
  font-family: 'Montserrat', sans-serif;
}


div.well{
  height: 250px;
}

.Absolute-Center {
  margin: 180px auto auto auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.filters {
  width: 200px;
  display: inline;
  float: right;
}


@media only screen and (max-width: 600px) {
  navbar {
    height: 100px;
    width: 300px;
    text-align: center;
  }

  .row {
    padding-bottom: 15px;
  }

  #question {
    padding-right: 24px;
  }
}

@media only screen and (max-width: 991px) {
  .questions-home {
    padding-bottom: 75px;
  }

}
