<h3>Edit your post</h3>

<% erb :_errors %>

<div class="container">
  <form action="/categories/<%= @category_id %>/posts/<%= @post.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="post[title]" value="<%= @post.title %>"><br>
    <input type="textarea" name="post[post_body]" value="<%= @post.post_body %>"><br>
    <input type="submit"><br>
  </form>
</div>
