<h1>Edit your post</h1>

<div class="container">
  <h1>Edit your post</h1>
  <form method="post" action="/categories/<%= @category_id %>/posts/<%= @post.id %>">
  Title:
  <input type="text" name="post[title]" value: "<%= @post.title %>"><br>
  Body:
  <input type="textarea" name="post[post_body]" value: "<%= @post.post_body %>"><br>
  <input type="hidden" name="_method" value="put">

  <input type="submit"><br>
  </form>
</div>
