

<% erb :_errors %>

<div class="container">
  <center><h3>Create new post</h3>
  <form id="post-form" action="/posts/new" method="POST">
  <label for="">Question: </label>
  <input id="post-field" type="text" name="post[title]"><br>
  <input type="hidden" name="post[author_id]" value="<%= current_user.id %>">
  <div class="form-group">
     <label for="body-field">Body: </label>
     <textarea form="post-form" name="post[post_body]" class="form-control" id="body-field" rows="3"></textarea>
   </div>
   <select name="post[category_id]" form="post-form" id="select-lang" class="form-control">
     <option>Select Language</option>
    <option value="1">AJAX</option>
    <option value="2">Angular</option>
    <option value="3">CSS</option>
    <option value="4">C++</option>
    <option value="5">C#</option>
    <option value="6">HTML</option>
    <option value="7">Java</option>
    <option value="8">Javascript</option>
    <option value="9">Node.js</option>
    <option value="10">PHP</option>
    <option value="11">Python</option>
    <option value="12">React</option>
    <option value="13">Ruby</option>
    <option value="14">Ruby on Rails</option>
    <option value="15">SQL</option>
    <option value="16">Swift</option>
  </select><br>
  <input type="submit"><br>
  </form>
</center>
</div>
