<h3>Create new post</h3>

<% erb :_errors %>

<div class="container">
  <form action="/categories/<%= @category_id %>/posts" method="POST">
  Title:
  <input type="text" name="post[title]"><br>
  Question:
  <input type="textarea" name="post[post_body]"><br>
  <input type="hidden" name="post[author_id]" value="<%= current_user.id %>">
  <input type="submit"><br>
  </form>
</div>

<div class="form-group">
   <label for="exampleTextarea">Body: </label>
   <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
 </div>
